/*RESUME PROJECT @jonrodsanz*/
/*21/09/2018 10:48PM GTM -5*/

body {
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
}
/*HEADER*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,.technologies{
    background-image: url(https://wallpapercave.com/wp/wp1828955.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-color: rgb(49, 47, 47);
    background-blend-mode: soft-light;
}

.header {
    height: 130px;
}

.header--profile {
     max-height: 210px;
     margin-top: 20px; 
     margin-bottom: 20px;
}

.header--information{
    margin-top: 10px;
}

/*TECHNOLOGIES SECTION*/
.technologies {
    padding: 20px;
}
.technologies--title { margin-bottom: 25px; }

.technologies--images{
    margin-top: 15px;
    max-width: 120px;
    max-height: 140px;
}
.javascript{
    height: 125px;
}

/*PROJECTS SECTION*/
.card {
    /* border: none !important; */
    width: 100%;
    transform: scale(0.9);
    transition: .3s;
}

.card:hover {
    transform: scale(0.93);
    transition: .4s;
}

/*EXTRACLASES*/
.margin-superior { margin-top: 20px; }
.subtitle { margin-bottom: 25px; }


/*MEDIA QUERY*/
/*PHONES WIDTH OR LESS*/
@media screen and (max-width: 760px){
    body{
        font-size: 0.9rem;
    }
    .technologies--images{
        margin-top: 15px;
        max-width: 110px;
        max-height: 130px;
        margin-bottom: 20px;
    }

    .header--profile{
        height: 150px;
        margin-top: 0;
    }

    .header--information{
        padding: 0 30px;
        margin-top: 5px;
    }

    .card {
        margin-bottom: 15px;
    }
    .card:last-of-type{
        margin-bottom: 0px;
    }
}